engine-strict=true
init-author-name=TheCold
init-author-email=ostrovskiy.dev@gmail.com
init-author-url=https://github.com/vdgmstd
init-license=MIT
fund=false                      
audit=false                     
loglevel=warn                  